/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    
}



/* back to top btn styles */

#top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0296BA;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 2px;
}

/* header strip styles */

.header-strip {
    padding: 10px 20px 10px 20px;
    background-color: #0296BA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.header-strip-left {
    text-decoration: none;
    display: flex;
    gap: 15px;
    color: #ffffff;
}
.header-strip-right {
    display: flex;
    gap: 10px;
}

.header-strip-right a {
    text-decoration: none;
    color: #ffffff;
}

.icon-one {
    font-size: 15px;
}

/* padding-for-sections */

nav,
.hero-section,
.section-two,
.section-three,
.section-four,
.section-five,
.section-six,
.blog,
.banner {
    padding: 10px 20px 10px 20px;
}

/* navigation bar styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: top 0.3s ease;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-list {
    display: none;
}

.nav-list .list-items a {
    text-decoration: none;
    color: #233329;
}

.nav-btn {
    background-color: #1e7e91;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 2px;
    display: none;
}



.hamburger {
    display: block;
    font-size: 30px;
    color: #1e7e91;
    cursor: pointer;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   
    
  }

  .sidenav > img{
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #000;
  }
  
  .sidenav .closebtn {
    
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .btn-sidebar{
    margin-top: 15px;
    background-color: #1e7e91;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 2px;
    text-align: center;
    
  }

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}


/* section 1 : hero styles */

.hero-section {
    height: 90vh;
    background-image: url("../resourses/copy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   
}

.hero-sec-text {
    color: #ffffff;
    padding-top: 22%;
    
}

.hero-sec-text p {
    color: #69FFF1;
    font-size: 1.2em;
    font-weight: bold;
}

.hero-sec-text h1 {
    font-size: 4.5em;
}

.hero-sec-text ul {
    padding-top: 5px;
    list-style: none;
}

/* section 2 : three box styles */

.section-two {
    display: grid;
    grid-template-columns: 1fr;
    height: 30vh;
    margin-top: 8%;
}

.section-two .left-col {
    background-color: #1e7e91;
}

.section-two .middle-col {
    background-color: #3fa2b6;
}

.section-two .right-col {
    background-color: #9adce9;
}


/* section 3 */

.section-three {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 8%;
    gap: 15px;
    align-items: center;
}

.section-three .left-col {
    display: grid;
    row-gap: 5px;
    color: #233329;
}

.section-three .left-col .sub {

    font-size: 1em;
    font-weight: bold;
    color: #1e7e91;
}

.section-three .left-col h3 {
    font-size: 2em;
    color: #233329;
}

.section-three .left-col .button-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.section-three .left-col .button-group .btn-two {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
}

.section-three .left-col .button-group .btn-three {

    border-radius: 2px;
    border: solid #0296BA 1px;
    color: #233329;
    padding: 10px 30px;

}

.section-three .right-col {
    background-image: url("../resourses/image-six.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);

}

/* banner */

.banner {
    margin-top: 8%;
}

.banner-inside {
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    background-color: #ffffff;
}

.banner-inside .left-col {
    background-image: url("../resourses/image-seven.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;

    width: 100%;
    margin-right: 0;
    border-radius: 2px 0px 0px 2px;

}

.banner-inside .right-col .btn-four {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.banner-inside .middle-col {
    padding: 5px 15px 5px 15px;
}



/* section 4 */

.section-four {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 8%;
    gap: 45px;
    align-items: center;
}

.section-four .left-col {
    display: grid;
    row-gap: 5px;
    color: #233329;
}

.section-four .left-col .sub {

    font-size: 1em;
    font-weight: bold;
    color: #1e7e91;
}

.section-four .left-col h3 {
    font-size: 2em;
    color: #233329;
}

.section-four .left-col .button-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.section-four .left-col .button-group .btn-two {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
}

.section-four .left-col .button-group .btn-three {

    border-radius: 2px;
    border: solid #0296BA 1px;
    color: #233329;
    padding: 10px 30px;

}

.section-four .right-col {
    background-image: url("../resourses/image-three.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);
    border-radius: 2px;
}


/*section 5 */


.section-five {
    margin-top: 8%;
    background-image: url("../resourses/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* section 6 */

.section-six {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 8%;
    gap: 15px;
    align-items: center;
}

.section-six .left-col {
    display: grid;
    row-gap: 5px;
    color: #233329;
}

.section-six .left-col .sub {

    font-size: 1em;
    font-weight: bold;
    color: #1e7e91;
}

.section-six .left-col h3 {
    font-size: 2em;
    color: #233329;
}

.section-six .left-col .button-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.section-six .left-col .button-group .btn-two {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
}

.section-six .left-col .button-group .btn-three {

    border-radius: 2px;
    border: solid #0296BA 1px;
    color: #233329;
    padding: 10px 30px;

}

.section-six .right-col {
    background-image: url("../resourses/image-five.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);

}



/* blog styles */

.blog {
    margin-top: 8%;
    text-align: center;
}

.blog .box-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 5%;
}

.box-group .left-col {
    display: grid;
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);
}

.box-group .left-col .top {
    background-image: url("../resourses/image-four.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    border-radius: 2px 0px 2px 0px;
}

.box-group .left-col .details {
    text-align: left;
    padding: 30px 20px 30px 20px;
    display: grid;
    row-gap: 18px;
}

.box-group .left-col .details .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box-group .left-col .details .button-group .btn-two {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
}

.box-group .left-col .details .button-group .link {
    text-decoration: none;
    color: #233329;

}


/* section-seven */

.section-seven {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin-top: 5%;
    align-items: center;
}

.section-seven .left-col {
    background-image: url("../resourses/image-nine.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-seven .left {
    background-color: black;
    
}

.section-seven .right {
    height: auto;
}

.section-seven .right-col {
    padding: 0px 0px 0px 20px;
    padding-right: 20%;
    display: grid;
    row-gap: 25px;


}

.text2 {
    font-size: 3.22rem;
}

.text3 {
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #0296BA;
    text-decoration: none;
}

.btn1 {

    background-color: #1e7e91;
    padding: 15px 25px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 2px;
    margin-bottom: 30px;
    display: inline-block;
}


/*footer styles*/

footer {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    border-top: 1px solid #ccc;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.footer-left {
    max-width: 90%;
    margin-bottom: 20px;
}

.footer-logo {
    width: 140px;
    height: 80px;
    margin-bottom: 20px;

}

.footer-left p {
    font-size: 14px;
    color: #555;
}

.footer-right {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #555;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #807c7c;
    margin-top: 35px;
    text-align: right;
    padding-top: 10px;
}


/* Tablets (portrait and landscape) */
@media (min-width: 600px) {}

/* Small laptops and larger tablets (landscape) */
@media (min-width: 768px) {}

/* Desktops */
@media (min-width: 992px) {



    /* header strip styles */

    .header-strip {
        padding: 10px 200px 10px 200px;
        font-size: 14px;
    }

    .header-strip-right {
        display: flex;
        gap: 35px;
    }

    /* navigation bar styles */

    nav {
        padding: 5px 200px 5px 200px;
    }

    .nav-list {
        display: flex;
        gap: 30px;
        list-style: none;
    }

    .nav-btn{
        display: block;
    }


    .hamburger{
        display: none;
        font-size: 30px;
        cursor: pointer;
    }

    .sidenav {
       display: none;
       
    }

    /* section 1 : hero styles */

    .hero-section {
        padding: 0px 200px 0px 200px;
        background-position: unset;
    }

    /* section 2 : three box styles */

    .section-two {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 200px 0px 200px;
    }


    /* section 3 */

    .section-three {
        grid-template-columns: 1fr 1fr;
        padding: 0px 200px 0px 200px;
    }



    /* banner */

    .banner {
        padding: 0px 200px 0px 200px;

    }

    .banner-inside {
        flex-direction: row;
    }

    .banner-inside .left-col {
        margin-right: 20px;
        width: 25%;

    }

    .banner-inside .right-col .btn-four {
        margin-bottom: 0px;
    }

    /* section 4 */

    .section-four {
        grid-template-columns: 1fr 1fr;
        padding: 0px 200px 0px 200px;
    }



    /* section 6 */

    .section-six {
        grid-template-columns: 1fr 1fr;
        padding: 0px 200px 0px 200px;

    }


    /* blog styles */

    .blog {
        padding: 0px 200px 0px 200px;
    }

    .blog .box-group {
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* section-seven */

    .section-seven {

        grid-template-columns: 1fr 1fr;
    }



    /*footer styles*/

    footer {
        border-top: 1px solid #ccc;
        padding: 80px 200px 80px 200px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        
    }

    .footer-left {
        max-width: 30%;

    }

    .footer-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }
    
}

/* Large desktops and wide screens 
@media (min-width: 1200px) {
   
}*/



@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes appear1{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear2{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}


@keyframes appear4{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}



/*.section-three{
    animation: appear1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}*/

.section-four{
    animation: appear1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
}

.section-six{
    animation: appear1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.blog .left-col{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes appear1 {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.section-three {
    animation: appear1 1s linear;
    /* Optionally adjust the duration and timing function */
}
