.hero-section,
.section-two,
.section-three,
.section-four,
.section-five,
.section-six,
.blog,
.banner {
    padding: 10px 20px 10px 20px;
}

/* section 1 : hero styles */

.hero-section {
    height: 90vh;
    background-image: url("../resourses/doctor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-sec-text {
    color: #ffffff;
    padding-top: 22%;

}

.hero-sec-text p {
    color: #69FFF1;
    font-size: 1.2em;
    font-weight: bold;
}

.hero-sec-text h1 {
    font-size: 4.5em;
}

.hero-sec-text ul {
    padding-top: 5px;
    list-style: none;
}

/* section 2 : three box styles */

.section-two {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    margin-top: 8%;
}

.section-two .left-col {
    background-color: #1e7e91;
    color: #ffffff;
    padding: 30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.section-two .left-col .sub {
    font-size: 0.9em;
    font-weight: bold;
    color: #dddfdf;
}

.section-two .left-col h3 {
    font-size: 1.5em;
}


.section-two .middle-col {
    background-color: #3fa2b6;
    color: #ffffff;
    padding: 30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.section-two .middle-col .sub {
    font-size: 0.9em;
    font-weight: bold;
    color: #dddfdf;
}

.section-two .middle-col h3 {
    font-size: 1.5em;
}


.section-two .right-col {
    background-color: #73c3d3;
    color: #ffffff;
    padding: 30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.section-two .right-col .sub {
    font-size: 0.9em;
    font-weight: bold;
    color: #067c7c;
}

.section-two .right-col h3 {
    font-size: 1.5em;
}

.section-two .right-col ol{
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}



/* section 3 */

.section-three {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 8%;
    gap: 15px;
    align-items: center;
}

.section-three .left-col {
    display: grid;
    row-gap: 5px;
    color: #233329;
}

.section-three .left-col .sub {

    font-size: 1em;
    font-weight: bold;
    color: #1e7e91;
}

.section-three .left-col h3 {
    font-size: 2em;
    color: #233329;
}

.section-three .left-col ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    list-style: none;
}

.section-three .left-col .button-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.section-three .left-col .button-group .btn-two {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}

.section-three .left-col .button-group .btn-three {

    border-radius: 2px;
    border: solid #0296BA 1px;
    color: #233329;
    padding: 10px 30px;
    cursor: pointer;

}

.section-three .right-col {
    background-image: url("../resourses/image-six.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);

}

/* banner */

.banner {
    margin-top: 8%;
}

.banner-inside {
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    background-color: #ffffff;
}

.banner-inside .left-col {
    background-image: url("../resourses/image-seven.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;

    width: 100%;
    margin-right: 0;
    border-radius: 2px 0px 0px 2px;

}

.banner-inside .right-col .btn-four {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.banner-inside .middle-col {
    padding: 5px 15px 5px 15px;
}

/* section 4 */

.section-four {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 8%;
    gap: 45px;
    align-items: center;
}

.section-four .left-col {
    display: grid;
    row-gap: 5px;
    color: #233329;
}

.section-four .left-col .sub {

    font-size: 1em;
    font-weight: bold;
    color: #1e7e91;
}

.section-four .left-col h3 {
    font-size: 2em;
    color: #233329;
}

.section-four .left-col ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    list-style: none;
}


.section-four .left-col .button-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.section-four .left-col .button-group .btn-two {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}

.section-four .left-col .button-group .btn-three {

    border-radius: 2px;
    border: solid #0296BA 1px;
    color: #233329;
    padding: 10px 30px;
    cursor: pointer;

}

.section-four .right-col {
    background-image: url("../resourses/image-three.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);
    border-radius: 2px;
}


/*section 5 */


.section-five {
    margin-top: 8%;
    background-image: url("../resourses/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* section 6 */

.section-six {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 8%;
    gap: 15px;
    align-items: center;
}

.section-six .left-col {
    display: grid;
    row-gap: 5px;
    color: #233329;
}

.section-six .left-col .sub {

    font-size: 1em;
    font-weight: bold;
    color: #1e7e91;
}

.section-six .left-col h3 {
    font-size: 2em;
    color: #233329;
}

.section-six .left-col ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    list-style: none;
}

.section-six .left-col .button-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.section-six .left-col .button-group .btn-two {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}

.section-six .left-col .button-group .btn-three {

    border-radius: 2px;
    border: solid #0296BA 1px;
    color: #233329;
    padding: 10px 30px;
    cursor: pointer;

}

.section-six .right-col {
    background-image: url("../resourses/image-five.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);

}



/* blog styles */

.blog {
    margin-top: 8%;
    text-align: center;
}

.blog .box-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 5%;
}

.box-group .left-col {
    display: grid;
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);
}

.box-group .left-col .top {
    background-image: url("../resourses/blog-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    border-radius: 2px 0px 2px 0px;
}

.box-group .left-col .top2 {
    background-image: url("../resourses/hospital-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    border-radius: 2px 0px 2px 0px;
}

.box-group .left-col .top3 {
    background-image: url("../resourses/pharmacy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    border-radius: 2px 0px 2px 0px;
}

.box-group .left-col .details {
    text-align: left;
    padding: 30px 20px 30px 20px;
    display: grid;
    row-gap: 18px;
}

.box-group .left-col .details .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box-group .left-col .details .button-group .btn-two {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
}

.box-group .left-col .details .button-group .link{
    text-decoration: none;
    color: #233329;

}



/* Desktops */
@media (min-width: 992px) {



    /* section 1 : hero styles */

    .hero-section {
        padding: 0px 200px 0px 200px;
        background-position: unset;
    }

    /* section 2 : three box styles */

    .section-two {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 200px 0px 200px;
    }

    /* section 3 */

    .section-three {
        grid-template-columns: 1fr 1fr;
        padding: 0px 200px 0px 200px;
    }

    .section-three .left-col p {
        width: 96%;
    }
    



    /* banner */

    .banner {
        padding: 0px 200px 0px 200px;

    }

    .banner-inside {
        flex-direction: row;
    }

    .banner-inside .left-col {
        margin-right: 20px;
        width: 25%;

    }

    .banner-inside .right-col .btn-four {
        margin-bottom: 0px;
    }

    /* section 4 */

    .section-four {
        grid-template-columns: 1fr 1fr;
        padding: 0px 200px 0px 200px;
    }



    /* section 6 */

    .section-six {
        grid-template-columns: 1fr 1fr;
        padding: 0px 200px 0px 200px;

    }


    /* blog styles */

    .blog {
        padding: 0px 200px 0px 200px;
    }

    .blog .box-group {
        grid-template-columns: 1fr 1fr 1fr;
    }




}

/* Large desktops and wide screens 
@media (min-width: 1200px) {
   
}*/



@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes appear1 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}


@keyframes appear4 {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



.section-three {
    animation: appear1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.section-four {
    animation: appear1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

.section-six {
    animation: appear1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.blog .left-col {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
