.service-sub-box{
    padding: 10px 20px 10px 20px;
    margin-top: 5%;
}

.service-sub-box p{
    text-align: justify;
    margin-top: 5px;
}

.service-sub-box .box1{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2%;

}

.box1-middle{
    margin-top: 5%;
}

.list-item {
    display: flex;
    margin-top: 15px;

}

.sub-text{
    color: #514f4f;
}


.img-sub-one{
    background-image: url("../resourses/service-sub-img.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    margin-top: 15px;
    margin-bottom: 5%;
}


/* banner */

.banner {
    margin-top: 8%;
    padding: 10px 20px 10px 20px;
}

.banner-inside {
    box-shadow: 0 4px 22px rgba(35, 41, 50, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    background-color: #ffffff;
}

.banner-inside .left-col {
    background-image: url("../resourses/image-seven.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;

    width: 100%;
    margin-right: 0;
    border-radius: 2px 0px 0px 2px;

}

.banner-inside .right-col .btn-four {
    border: none;
    border-radius: 2px;
    background-color: #0296BA;
    color: #ffffff;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.banner-inside .middle-col {
    padding: 5px 15px 5px 15px;
}





@media (min-width: 992px) {


    .service-sub-box{
        padding: 10px 200px 10px 200px;
    }

    .service-sub-box .box1{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: center;
        justify-content: center;
    
    }

    .img-sub-one{
        height: 100%;
    }


    .banner {
        padding: 0px 200px 0px 200px;

    }

    .banner-inside {
        flex-direction: row;
    }

    .banner-inside .left-col {
        margin-right: 20px;
        width: 25%;

    }

    .banner-inside .right-col .btn-four {
        margin-bottom: 0px;
    }

}